<!doctype html>
<html>

<%- include('partials/_head') -%>

<body class="header-white-text">

<div class="remodal-bg">

    <%- include('partials/_header') -%>

    <div class="fixed-buttons" style="position: fixed; bottom: 45px; right: 24px; z-index: 1000;">
        <!-- <a class="button blue" href="#brozura">Mám zájem o brožuru</a><br />
        <a class="button grey" href="#prohlidka">Chci si domluvit prohlídku</a><br /> -->
        <a class="stickyBtn" href="#prohlidka" style="display: flex;">
            <span>Kontaktujte nás</span>
            <img src="https://gresidence.cz/images/letter.svg">
        </a>
    </div>
    <style>
        .section-intro{
            width: 100%;
            min-height: 1%;
            position: relative;
            padding: 0 0 !important;
            text-align: center;
        }
        .new-slider-intro .slide-1{
            background: url('./images/gres-day.jpg') center center/cover;
            height:100vh;
        }
        .new-slider-intro .slide-2{
            background: url('./images/loznice.jpg') center center/cover;
            height:100vh;
        }
        .new-slider-intro .slide-3{
            background: url('./images/pokoj.jpg') center center/cover;
            height:100vh;
        }
        .new-slider-intro h4{
            color:white;
            font-weight: bold;
            margin-bottom:0;
            position:relative;
            clear:both;
            font-size:100px;
            margin-top: 15vh;
        }
        .new-slider-intro h5{
            color:white;
            font-weight: normal;
            margin-bottom:0;
            position:relative;
            clear:both;
            font-size:30px;
        }
        .new-slider-intro .slick-dots{
            position: relative;
            top:-20px;
        }
        .new-slider-intro .slick-dots li button{
            background: #fff;
        }
        .new-slider-intro .new-ctas{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .new-slider-intro .new-ctas a{
            margin: 0 1em;
            min-width: 300px;
        }
        @media (max-width: 1020px){
            .section-intro, .new-slider-intro .slide-1, .new-slider-intro .slide-2, .new-slider-intro .slide-3{
                height: calc(100vh - 82px);
            }
            .new-slider-intro h4{
                font-size: 60px !important;
            }
            .new-slider-intro h5{
                font-size: 24px !important;
            }
        }
        @media (max-width: 767px){
            .new-slider-intro h4{
                font-size: 40px !important;
            }
            .new-slider-intro h5{
                font-size: 18px !important;
            }
            .new-slider-intro .new-ctas a{
                margin: 0 0.5em;
                min-width: 160px;
            }
        }

    </style>
    <section class="section-intro mb0">
        <h1 class="blind">G Residence</h1>
        <div class="new-slider-intro">
            <div class="slide slide-1">
                <h4 class='new-header'>Blízko Praze,<br />ještě blíž přírodě.</h4>
                <h5 class='new-header-sm'>Hoďte rušné velkoměsto za hlavu.<br />Objevte pohodové bydlení v G&nbsp;Residence v&nbsp;Unhošti západně od Prahy.</h5>
                <div class="new-ctas">
                    <a href="https://gresidence.cz/byt/c107" class="button">Více o projektu</a>
                    <a href="https://gresidence.cz/cenik" class="button">Ceník</a>
                </div>
            </div>
            <div class="slide slide-2">
                <h4 class='new-header'>Poslední byt 3+kk<br />s cashbackem 500&nbsp;000&nbsp;Kč</h4>
                <h5 class='new-header-sm'>Hoďte rušné velkoměsto za hlavu.<br />Objevte pohodové bydlení v G Residence v Unhošti západně od Prahy.</h5>
                <div class="new-ctas">
                    <a href="https://gresidence.cz/byt/c107" class="button">Mám zájem</a>
                </div>
            </div>
            <div class="slide slide-3">
                <h4 class='new-header'>Atraktivní bydlení<br />v&nbsp;Unhošti</h4>
                <h5 class='new-header-sm'>Nyní ke koupi 3+kk dostanete 2 parkovací místav hodnotě 320&nbsp;000&nbsp;Kč zdarma!</h5>
                <div class="new-ctas">
                    <a href="https://gresidence.cz/byt/c107" class="button">Mám zájem</a>
                </div>
            </div>
        </div>
        <!-- <div class="video-container">
            <video autoplay loop muted playsinline poster="./images/video-cover.jpg">
                <source src="./video/cover.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div> -->
        <a href="#about" rel='m_PageScroll2id' class="mouse">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                 y="0px"
                 viewBox="0 0 144.7059937 156.4597778" style="enable-background:new 0 0 144.7059937 156.4597778;"
                 xml:space="preserve">
            <g id="Layer_1">
                <polyline class="st0" points="142.2059937,78.9597778 107.2794952,116.4597778 72.3529968,153.9597778 37.4264984,116.4597778
                    2.5,78.9597778 	"/>
                <polyline class="st0" points="128.2353973,54.5431099 100.2941895,84.5431061 72.3529968,114.5431061 44.4117966,84.5431061
                    16.4705982,54.5431099 	"/>
                <polyline class="st0" points="114.2647934,30.1264439 93.3088913,52.626442 72.3529968,75.126442 51.3970947,52.626442
                    30.4411983,30.1264439 	"/>
            </g>
            </svg>
        </a>
    </section>
    <section>Second slider</section>
    <section>Third slider</section>
    <section>Fourth slider</section>


    <section class="section-map js-animate mb0" id="lokalita">
        <div class="container">
            <h2>Městečko pro život</h2>
            <div class="text">
                <div class="unhost-menu">
                    <a href="#" class="unhost-menu-link active" data-category="0">Vše</a>
                    <a href="#" class="unhost-menu-link" data-category="1">Okolí Unhoště</a>
                    <a href="#" class="unhost-menu-link" data-category="2">Aktivní odpočinek</a>
                    <a href="#" class="unhost-menu-link" data-category="3">Kde se najíst a napít</a>
                    <a href="#" class="unhost-menu-link" data-category="4">Vybavenost</a>
                </div>
                <div class="unhost-info">
                    <div class="unhost-text unhost-text0">
                        <p>
                            Unhošť je přátelské město s životními náklady nižšími než v Praze, přitom tu ale najdete vše pro pohodlný život. Děti to budou mít jen pár kroků do školky i školy, vy brzy objevíte svou oblíbenou kavárnu, do které při dalších návštěvách trefíte i po čichu díky vůni pražené kávy. Pro vypečené houstičky se stavte do místní pekárny, pro větší nákupy je tu supermarket.
                            <br><br>Co ale v Unhošti určitě nemají? Přeplněné tramvaje, troubící auta, zácpy na silnicích, hluk pod okny ani turisty v ulicích.
                        </p>
                    </div>
                    <div class="unhost-text unhost-text1">
                        <p>
                            Kousek od vašich budoucích dveří začíná Křivoklátsko. Zamilujete si Nižbor se známou sklárnou a neméně legendární restaurací. Do zpěvu vám bude na Karlštejně i na Okoři.
                        </p>
                    </div>
                    <div class="unhost-text unhost-text2">
                        <p>
                            Místní fotbalový klub hraje 1. B třídu, vaše děti si zahrají na dětském hřišti Koželužka. Ve městě je i sportovní hala a jen kousek odtud golfové hřiště Botanica Golf.
                        </p>
                    </div>
                    <div class="unhost-text unhost-text3">
                        <p>
                            Ve městě si dáte tradiční kuchyni, pizzu i oblíbenou Asii, na vaše schůzky jsou připraveny pěkné kavárny. Pečivo na snídani koupíte v místním pekařství.
                        </p>
                    </div>
                    <div class="unhost-text unhost-text4">
                        <p>
                            Školka a základní škola jsou samozřejmostí, v Unhošti však najdete třeba i stáj na ustájení vašeho koníka. Pro vaše pohodlí je tu také pošta, lékaři, kadeřník nebo autoservis.
                        </p>
                    </div>
                </div>
            </div>

            <div class="map unhost-map">
                <div class="unhost-pins"></div>
                <img src="./images/map.svg" alt="">
            </div>

            <div class="row pt70 text-center">
                <a href="/#contact" class="button">Chci více informací</a>
            </div>

        </div>
    </section>


    <section class="section-count js-animate">
        <div class="container">
            <div class="box">
                <h3>
                    <strong><span class='numscroller' data-min='1' data-max='34' data-delay='2' data-increment='1'>34</span></strong>
                    <br>Volných domovů
                </h3>
            </div>
            <div class="box">
                <h3>
                    <strong style="color: #c60000"><span class='numscroller' data-min='1' data-max='63' data-delay='2' data-increment='1'>63</span></strong>
                    <br>Šťastných zákazníků
                </h3>
            </div>
        </div>
    </section>

    <section class="section-timeline">
        <div class="container">
            <div class="timeline">
                <span class="line-grey">&nbsp;</span>
                <span class="line">&nbsp;</span>
                <div class="step step1">
                    <h3>Plánování</h3>
                    <p>Červen 2018</p>
                    <p class="small">V červnu 2018 jsme začali plánovat, jak bude vaše budoucí bydlení vypadat.</p>
                </div>
                <div class="step step2">
                    <h3>Zahájení stavby</h3>
                    <p>Červen 2019</p>
                    <p class="small">První práce na stavbě začaly přesně o rok později.</p>
                </div>
                <div class="step step3">
                    <h3>Kolaudace</h3>
                    <p>Říjen 2021</p>
                    <p class="small">Kolaudace proběhne na podzim roku 2021.</p>
                </div>
                <div class="step step4">
                    <h3>Nastěhování</h3>
                    <p>Prosinec 2021</p>
                    <p class="small">V prosinci téhož roku se budete moci nastěhovat.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section-gallery js-animate">
        <div class="slider-gallery">
            <div class="slide">
                <div class="img" style="background-image: url('./images/gallery/1.jpg')">&nbsp;</div>
                <div class="text">
                    <div class="container">
                        <!--    <h3>Vizualizace obývacího pokoje</h3>-->
                        <p>Obývací pokoj s kuchyní a voděodolnou podlahou Pergo. Zbývá jen rozhodnout, kdo připraví
                            snídani.</p>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="img" style="background-image: url('./images/gallery/2.jpg')">&nbsp;</div>
                <div class="text">
                    <div class="container">
                        <!--    <h3>Vizualizace obývacího pokoje</h3>-->
                        <p>Pohled od kuchyně na obývací pokoj. Ten výhled se vám neomrzí ani po tisící.</p>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="img" style="background-image: url('./images/gallery/3.jpg')">&nbsp;</div>
                <div class="text">
                    <div class="container">
                        <!--    <h3>Vizualizace obývacího pokoje</h3>-->
                        <p>Ložnice, která láká k odpočinku nejen po náročném dni.</p>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="img" style="background-image: url('./images/gallery/4.jpg')">&nbsp;</div>
                <div class="text">
                    <div class="container">
                        <!--    <h3>Vizualizace obývacího pokoje</h3>-->
                        <p>Ukázka koupelny s vybavením, kde se vám bude pod sprchou či ve vaně báječně relaxovat.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-flats js-animate">
        <div class="container">
            <div class="row">
                <h2>Nabídka bytů</h2>
            </div>
            <div class="boxes flats-slider">
                <a href="/cenik?only_available=1" class="box">
                    <div class="inner">
                        <div class="img" style="background-image: url('./images/koupelna.jpg')">&nbsp;</div>
                        <div class="text">
                            <h3>1+kk</h3>
                            <h4>Všechny byty prodány</h4>
                            <span class="info">24 m<sup>2</sup>–27 m<sup>2</sup> + balkon / terasa</span>
                            <p>Vlastní bydlení pro singles i zamilované páry. Ke všem bytům patří sklepní kóje,
                                parkovací stání a balkon.</p>
                            <span class="button">Vyprodáno</span>
                        </div>
                    </div>
                </a>
                <a href="/cenik?only_available=1&size2kk=1" class="box">
                    <div class="inner">
                        <div class="img" style="background-image: url('./images/pokoj.jpg')">&nbsp;</div>
                        <div class="text">
                            <h3>2+kk</h3>
                            <h4>K dispozici 25 bytů</h4>
                            <span class="info">36 m<sup>2</sup>–55 m<sup>2</sup>+ balkon / terasa</span>
                            <p>Zlatá střední cesta, kde se dobře zabydlí dvojice i mladá rodina. Budete spolu, ale
                                nebudete se rušit.</p>
                            <span class="button">Ukázat byty 2+kk</span>
                        </div>
                    </div>
                </a>
                <a href="/cenik?only_available=1&size3kk=1" class="box">
                    <div class="inner">
                        <div class="img" style="background-image: url('./images/gallery.jpg')">&nbsp;</div>
                        <div class="text">
                            <h3>3+kk</h3>
                            <h4>Zbývá poslední byt!</h4>
                            <span class="info">76 m<sup>2</sup>+ balkon / terasa</span>
                            <p>Velkorysé prostory pro náročné či rodinu s více dětmi. Je tu spousta místa pro vás i vaši
                                fantazii.</p>
                            <span class="button">Ukázat byty 3+kk</span>
                        </div>
                    </div>
                </a>
                <a href="/cenik?only_available=1&size4kk=1" class="box">
                    <div class="inner">
                        <div class="img" style="background-image: url('./images/loznice-den.jpg')">&nbsp;</div>
                        <div class="text">
                            <h3>4+kk</h3>
                            <h4>K dispozici 11 bytů</h4>
                            <span class="info">83 m<sup>2</sup>+ balkon</span>
                            <p>Ve třetím patře najdete naše největší byty. Sem se vejde celá rodina, houpací síť i
                                malířský ateliér.</p>
                            <span class="button">Ukázat byty 4+kk</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="row text-center">
                <a href="/cenik?only_available=1" class="button blue"><span>Zobrazit dostupné byty</span></a>
            </div>
        </div>
    </section>
<!--<section class="section-day-and-night js-animate mb0">
        <div class="container">
            <h2>Domov, kam se budete rádi vracet. Ve <a href="#" class="js-day active">dne</a> i v <a href="#"
                                                                                                      class="js-night">noci</a>
            </h2>
        </div>
        <div class="switch-container">
            <a href="#" class="switch js-day-and-night">Přepnout</a>
            <p>Přepněte si pohled</p>
        </div>
    </section> -->

    <section class="section-contact js-animate mb0" id="contact">
        <div class="container">
            <div class="half left">
                <h2>Chcete se o&nbsp;G&nbsp;Residence dozvědět&nbsp;více?</h2>
                <p>Rádi se vám budeme osobně věnovat.</p>
                <div class="box">
                    <p><strong>Nefandíte psaní?</strong>
                        <br>Jsme k dispozici na telefonu</p>
                    <a href="tel:220873614" class="phone">+420 220 873 614</a>
                </div>
            </div>
            <div class="half right contact-form">
                <%- include('partials/_form') -%>
            </div>
        </div>
    </section>

    <!-- <section class="section-gallery-small js-animate" id="galerie">
        <div class="container">
            <div class="row">
                <h2>Galerie</h2>
            </div>
            <div class="gallery">
                <a href="./images/gallery-small/1.jpg" class="link-gallery" rel="gallery-small"><div class="inner" style="background-image: url('./images/gallery-small/1.jpg');">&nbsp;</div></a>
                <a href="./images/gallery-small/2.jpg" class="link-gallery" rel="gallery-small"><div class="inner" style="background-image: url('./images/gallery-small/2.jpg');">&nbsp;</div></a>
                <a href="./images/gallery-small/3.jpg" class="link-gallery" rel="gallery-small"><div class="inner" style="background-image: url('./images/gallery-small/3.jpg');">&nbsp;</div></a>
                <a href="./images/gallery-small/4.jpg" class="link-gallery" rel="gallery-small"><div class="inner" style="background-image: url('./images/gallery-small/4.jpg');">&nbsp;</div></a>
                <a href="./images/gallery-small/5.jpg" class="link-gallery" rel="gallery-small"><div class="inner" style="background-image: url('./images/gallery-small/5.jpg');">&nbsp;</div></a>
                <a href="./images/gallery-small/6.jpg" class="link-gallery" rel="gallery-small"><div class="inner" style="background-image: url('./images/gallery-small/6.jpg');">&nbsp;</div></a>
            </div>
        </div>
    </section> -->

    <section class="section-about mb0 js-animate">
        <div class="text">
            <h3>
                O developerovi
            </h3>
            <p class="mb0">
                Začínali jsme jako prodejce exkluzivních projektů předních českých developerů a od roku 2016 stavíme
                vlastní domy. Přinášíme do Česka moderní zahraniční trendy, tvoříme projekty, které si zakládají na
                kvalitě, designu a ekologické šetrnosti.
                <br>Jako člen Asociace developerů můžeme být spolehlivým partnerem i pro ty nejnáročnější klienty. Jsme
                GETBERG, developer nové generace.
            </p>
        </div>
        <div class="about-photo" style="background-image: url('./images/about.jpg')">&nbsp;
<!--            <img src="./images/about.jpg" data-400-top="transform:translate3d(-20%,0%,0);"-->
<!--                 data-0-top-top="transform:translate3d(0,0%,0);" alt="">-->
        </div>
    </section>

    <section class="section-newsletter mb0">
        <div class="box">
            <div class="half left">
                <h3>Odebírejte náš newsletter</h3>
                <p>Jednou za měsíc Vám zašleme novinky, užitečné informace a akce</p>
            </div>
            <div class="half right">
                <form action="http://cl.s50.exct.net/subscribe.aspx?lid=220" onsubmit="dataLayer.push({ 'event': 'emailSubscribe-success', 'formType': 'E-mail'});" method="post" name="newsletter">
                    <fieldset>
                        <div class="email-container">

                            <div class="mdc-text-field mdc-text-field--outlined full-width-input ">

                                <input type="email" name="Email Address" required id="tf-outlined"
                                       class="mdc-text-field__input">
                                <input type="hidden" name="SubAction" value="sub_add_update">
                                <input type="hidden" name="MID" value="510000399">

                                <input type="hidden" name="thx" value="https://www.gresidence.cz/">
                                <input type="hidden" name="err" value="https://www.gresidence.cz/">
                                <input type="hidden" name="usub" value="https://www.gresidence.cz/">

                                <input type="hidden" name="Email Type" value="HTML">
                                <div class="mdc-notched-outline">
                                    <div class="mdc-notched-outline__leading"></div>
                                    <div class="mdc-notched-outline__notch">
                                        <label for="tf-outlined" class="mdc-floating-label">E-mail</label>
                                    </div>
                                    <div class="mdc-notched-outline__trailing"></div>
                                </div>
                            </div>


                            <button type="submit" class="button blue"><span>Odeslat</span></button>
                        </div>
                        <p class="last">
                            <input type="checkbox" required id="agreement" name="agreement" />
                            <label for="agreement">Souhlasím s <a href="#">obchodními podmínkami</a> *</label>
                        </p>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>


    <%- include('partials/_footer') -%>
    <%- include('partials/_remodal') -%>

</div>

</body>

</html>
